.container {
  background: black;
}

.additionalSection {
  background: teal;
  height: 100vh;
}

.animatedSection {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 20px 0;
}

.animatedSection span {
  font-size: 40px;
  background-clip: text;
  color: transparent;
}
